<html>
<head>
    <meta charset="utf-8">
    <title>Словарь</title>
    {% block head_css %}
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="{{ asset('css/all.css') }}" rel="stylesheet" />
    {% endblock head_css %}
</head>
<body>
{% block content %}
{% endblock content %}
{% block head_js %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('js/app.bundle.js') }}"></script>
{% endblock head_js %}
</body>
</html>