@import "../../../../../node_modules/bootstrap/less/variables";

* {
  font-family: 'Roboto';
}

.result-icon {
  font-size: 90px;
  text-align: center;
}

.wrapperFinished {
  .result-icon {
    color: @brand-success;
  }
}

.wrapperFailed {
  .result-icon {
    color: @brand-danger;
  }
}