<div class="container wrapperFinished">
    <div class="text-center result-icon">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    </div>
    <h1 class="text-center">Тест пройден</h1>
    <h3 class="text-center">Вы набрали <%= points %> баллов</h3>
    <div class="text-center">
        <a class="btn btn-lg btn-success" href="/restart">
            <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
            &nbsp;Начать заново
        </a>
    </div>
    <!-- @todo рассказать друзьям -->
</div>