<div class="wrapperFailed">
    <div class="text-center result-icon">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </div>
    <h1 class="text-center">Тест провален</h1>
    <h3 class="text-center">Вы набрали: <%= points %> баллов</h3>
    <!--@todo get url by route-->
    <div class="text-center">
        <a class="btn btn-lg btn-success" href="/restart">
            <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
            &nbsp;Начать заново
        </a>
    </div>
</div>